<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Join Club</title>
</head>
<body>
  <h1>Join Club</h1>
  <form action="/join-club" method="POST">
    <label for="passcode">Enter Passcode (Member or Admin)</label>
    <input id="passcode" name="passcode" type="password" required />

    <button type="submit">Join Club</button>
  </form>

  <br>
  <a href="/">Go back to Home</a>
</body>
</html>